/* Header.css */

.site-header {
  width: 100%;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center; /* This centers the navigation div */
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1000;
}
.site-logo-text {
  font-family: cursive;
  font-size: 48px; /* 4 times larger */
  font-weight: bold;
  color: #508450; /* Pastel leaf green color */
  /* Add some style */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Text shadow for pizzazz */
  letter-spacing: 2px; /* Increased letter spacing for style */
  text-transform: uppercase; /* Uppercase for additional style */
  line-height: 120px; /* Increase the line-height for vertical spacing */
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px; /* Optional: You can re-establish a max-width if desired */
  margin: auto; /* This will center the content */
}

.nav-left,
.nav-right {
  display: flex;
  align-items: center;
}

.navigation a {
  margin: 0 15px;
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease;
}

.navigation a:hover {
  color: #555;
}

.site-logo {
  max-height: 130px; /* Adjust size as needed */
}

/* @media (min-width: 768px) {
  .site-logo {
    max-height: 100px; 
  }
} */

.preorder-button {
  padding: 10px 20px;
  background-color: #4a613b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.preorder-button:hover {
  background-color: #688059;
}

.social-icon {
  color: #333; /* Default icon color, change as required */
  margin-right: 15px; /* Spacing between icons */
  font-size: 20px; /* Icon size, adjust as needed */
}

.social-icon:hover {
  color: #555; /* Color on hover */
}

.feathered-logo {
  width: 100%; /* Adjust as needed */
  height: auto;
  mask-image: linear-gradient(
      to right,
      transparent,
      white 20%,
      white 80%,
      transparent
    ),
    linear-gradient(to bottom, transparent, white 10%, white 90%, transparent);
  -webkit-mask-image: linear-gradient(
      to right,
      transparent,
      white 20%,
      white 80%,
      transparent
    ),
    linear-gradient(to bottom, transparent, white 10%, white 90%, transparent);
  mask-composite: intersect;
  -webkit-mask-composite: intersect;
  background-color: white; /* Fallback for older browsers */
}

/* Add any additional styles based on the specifics of your design */
